# Streamlit related
langchain
torch
accelerate
sentence_transformers
streamlit_chat
streamlit==1.33 ##exlude 1.34 as there is a bug its fixed in 1.35 but not released yet
faiss-cpu
tiktoken
ctransformers
huggingface-hub
pypdf
python-dotenv
replicate
docx2txt
sentence-transformers
